@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    @apply dark:bg-[#100c14] bg-[#f5f3ff] dark:text-hydro-textDark text-[#312b55];
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    @apply dark:bg-[#27242b];
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    @apply dark:bg-[#563e6e] w-1 px-4;

    border-radius: 20px;
}

@layer utilities {
    .bg-gradient-hydride-muted {
        @apply bg-gradient-to-tr from-[#803cd3] to-[#9a64e3];
    }

    .bg-gradient-hydride-brand {
        @apply bg-gradient-to-r from-violet-400 to-orange-400;
    }
}

.MuiTooltip-tooltip {
    background-color: #EDEEEF !important;
    color: #2f343D !important;
}

.MuiTooltip-arrow {
    color: #EDEEEF !important;
}